
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: url(SourceCodePro-VariableFont_wght.ttf) format('woff');
}
*:not(pre, code, span) {
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.span {
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0 1rem;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    margin: 0;
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-left: 1rem;
}
header * {
    font-size: 1.1rem;
}
h2{
    font-size: 1.1rem;
}
header h1 a{
    font-weight: bolder;
    color: yellow;
}
a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#days li{
    list-style: none;
}
#days ul{
    margin-block: 0;
    padding-inline-start: 0.2rem;
}

#guide, #output{
    width: 43%;
}
#challenge {
    display: flex;
}
#output {
    margin: 2rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1rem;
    position: fixed;
    right: 0;
    height: calc(100% - 10rem);
    overflow-x: scroll;
}
#guide {
    /* overflow: scroll; */
    word-break: break-word;
    



}

li {
    margin-top: 0.5rem;
}
@media screen and (max-width: 600px) {
    #output {
        display: none;
    }
    #guide {
        width: 100%;
    }
}