
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: url(SourceCodePro-VariableFont_wght.ttf) format('woff');
}
*{
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
body {
    margin: 0 1rem;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    margin: 0;
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-left: 1rem;
}
header * {
    font-size: 1.1rem;
}
header h1 a{
    font-weight: bolder;
    color: yellow;
}
a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#days li{
    list-style: none;
}
#days ul{
    margin-block: 0;
    padding-inline-start: 0.2rem;
}

#guide, #output{
    width: 120%;
}
#challenge {
    display: flex;
}
#output {
    margin: 2rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1rem;
}
#guide {
    /* overflow: scroll; */
}