@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: url(SourceCodePro-VariableFont_wght.ttf) format('woff');
}
*{
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

header {
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-left: 1rem;
}
header * {
    font-size: 1.1rem;
}
header h1 a{
    font-weight: bolder;
    color: yellow;
}
a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}